

#accordion *{
	background-color: white;
}
.inner-container {
	display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-gap: 25px;
}

/* Making the citiations in flowing boxes */
.flowing-boxes {
    border-top: 1px solid #03ac13;;
    display: flex;
	padding:0px;
    justify-content: center ;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}
.flowing-boxes li{
    list-style-type:none;
    color:red;
    margin: 10px;
    min-width: max-content;
    padding: 5px;
    border-radius: 5px;
    border: solid black 1px;
}
.flowing-boxes a {
    color:#03ac13;
    text-decoration: none;
}
.flowing-boxes a:hover {
    font-size: 1.1rem;
    color:#649568;
}
footer p {
    padding: 0;
    margin: 0 10px 0 10px ;
}

.credits{
    font-size: 10px;
    max-width: fit-content;
    background-color: #000000;
    border-radius: 0 15px 0 15px;
    margin-bottom: 0;
}

@media screen and (max-width: 500px){
	.full-width {
		width: 100%;
	}
	.inner-container {
		display: block;
	}
	.flowing-boxes li{
		min-width: fit-content;
	}
	h2 {
		min-width: fit-content;
		max-width: fit-content;
	}
}
